- breadcrumb :assignment, @assignment

%h1
  = "#{Assignment.model_name.human}:"
  = @assignment.name
  - if can?(:edit, @assignment.object)
    .pull-right
      = link_to 'Edit', edit_course_assignment_path(@course, @assignment), class: 'btn btn-primary'

- unless @assignment.description.blank?
  = panel title: Assignment.human_attribute_name(:description), context: :primary do
    .panel-body
      = @assignment.description

= panel title: Test.model_name.human.pl, context: :primary do
  .panel-body
    - if can?(:create, Test.new(assignment: @assignment))
      %p= link_to 'New Test', new_assignment_test_path(@assignment), class: 'btn btn-primary'
    - if @hidden_test_count > 0
      = alert_box "#{@hidden_test_count} test(s) are marked private and are not shown below.", context: :warning

    - @tests.each_with_index do |test, index|
      = render 'tests/panel_show', test: test, index: index + 1

= panel title: Submission.model_name.human.pl, context: :primary do
  .panel-body
    = link_to 'New Submission', new_assignment_submission_path(@assignment), class: 'btn btn-primary'
    %table.table.table-striped
      %thead
        %tr
          %th= Submission.human_attribute_name(:submission_time)
          %th= Submission.human_attribute_name(:uploaded_by)
          %th= Submission.human_attribute_name(:status)
      %tbody
        = no_results_found_row(3) if @submissions.to_a.empty?
        - @submissions.decorate.each do |submission|
          %tr
            %td= link_to submission.created_at, assignment_submission_path(@assignment, submission)
            %td= submission.uploaded_by
            %td= submission.status
