- breadcrumb :assignment, @assignment

%h1= @assignment.name

- unless @assignment.description.blank?
  = panel title: Assignment.human_attribute_name(:description), context: :primary do
    .panel-body
      = @assignment.description

= panel title: Submission.model_name.human.pl, context: :primary do
  .panel-body
    = link_to 'New Submission', new_assignment_submission_path(@assignment), class: 'btn btn-primary'
    %table.table.table-striped
      %thead
        %tr
          %th= Submission.human_attribute_name(:submission_time)
          %th= Submission.human_attribute_name(:uploaded_by)
          %th= Submission.human_attribute_name(:status)
      %tbody
        = no_results_found_row(3) if @submissions.to_a.empty?
        - @submissions.decorate.each do |submission|
          %tr
            %td= link_to submission.created_at, assignment_submission_path(@assignment, submission)
            %td= submission.uploaded_by
            %td= submission.status
