- breadcrumb :assignment, @assignment

%h1= @assignment.name

%h3= Submission.model_name.human.pl

%table.table.table-striped
  %thead
    %tr
      %th= Submission.human_attribute_name(:submission_time)
      %th= Submission.human_attribute_name(:status)
      %th= Submission.human_attribute_name(:uploaded_by)
  %tbody
    %tr
      = no_results_found_row(3) if @submissions.to_a.empty?
      - @submissions.decorate.each do |submission|
        %td= l submission.created_at, format: :long
        %td= submission.status
        %td= submission.uploaded_by.try(:name)
