- if test_result.success?
  = alert_box context: :success do
    File
    - if test_result.file_url
      = link_to test_result.file_url, target: :blank do
        %code= test_result.filename
    - else
      %code= test_result.filename
    is present
- else
  = alert_box context: :danger do
    File
    %code= test_result.filename
    was not found
