= panel title: test_result.title, context: test_result.panel_context do
  .panel-body
    - if test_result.error?
      = alert_box context: :danger do
        %h4 Errors detected
        - if test_result.run_file_missing
          %p
            = icon('exclamation-triangle', library: :font_awesome)
            Your submission is missing a file named
            %code run
            (without extension), which is used by AlphaGrader to run your
            submission. To fix this, please see the
            = link_to 'instructions', test_result.help_page_url
        - if test_result.exit_code != 0
          %p
            %b Exit code:
            = test_result.exit_code
            (Must be 0)
        %p
          %b Error log:
          %br
          %pre= test_result.error_log

    - unless test_result.public
      = alert_box do
        %b Private Test
        %br
        This test was marked private by the instructor. Test results are therefore not viewable by students.
    - if test_result.public || current_user.course_instructor?(test_result.submission.assignment.course)
      = render "test_results/panel_body_#{test_result.type.underscore}", test_result: test_result
