- if @active_team
  .pull-right.text-right
    - if can?(:edit, @active_team.object)
      = link_to 'Edit Team', edit_assignment_team_path(@assignment, @active_team),
        class: 'btn btn-primary'
    - else
      %p
        = link_to 'Edit Team', edit_assignment_team_path(@assignment, @active_team),
          class: 'btn btn-primary disabled'
        .small(style='font-size: 50%') Only the repository owner can edit the team

  %dl.dl-horizontal
    - [:repository_owner_name, :user_names, :git_repository_url].each do |attr|
      %dt= Team.human_attribute_name(attr)
      %dd= @active_team.send attr

  - if @active_team.object.github_repository_name.blank?
    = render 'teams/git_missing_warning'
  - else
    = alert_box context: :info do
      %i.fa.fa-smile-o
      %b Your team has been setup!
      Every commit to the repository will automatically
      create a submission, and give you feedback on your progress.

- else
  = alert_box context: :info do
    To start with this assignment, first create a team.
    = link_to 'Create Team', new_assignment_team_path(@assignment), class: 'btn btn-default'
