- breadcrumb :assignment, @assignment

= render 'assignments/nav_tabs'

= panel title: 'My Team', context: :primary do
  .panel-body
    = render 'active_team_content', team: @active_team

= panel title: Submission.model_name.human.pl, context: :primary do
  .panel-body
    - if can?(:rerun_all, @submissions)
      -# Disable button until all submissions finish rerunning
      - if @submissions.any?{ |s| !s.checks_completed? }
        %span{:class => "btn btn-default"}= 'Rerun Submissions'
      - else
        = link_to 'Rerun Submissions',
                    rerun_all_assignment_submissions_path(@assignment),
                    class: 'btn btn-primary'
      = link_to 'Export Data',
                  assignment_submissions_path(format: :csv),
                  class: 'btn btn-primary'
    %table.table.table-striped
      %thead
        %tr
          %th= Submission.human_attribute_name(:submission_time)
          %th= Submission.human_attribute_name(:uploaded_by)
          %th= Submission.human_attribute_name(:contributors)
          %th= Submission.human_attribute_name(:status)
      %tbody
        - if @active_team
          = link_to 'Upload New Submission', new_assignment_submission_path(@assignment), class: 'btn btn-primary'
        = no_results_found_row(4) if @submissions.to_a.empty?
        - @submissions.decorate.each do |submission|
          %tr
            %td= link_to submission.created_at, assignment_submission_path(@assignment, submission)
            %td= submission.uploaded_by
            %td= submission.contributor_names
            %td= submission.status

-# reload page every 2s if submissions are still running
- if @submissions.any?{ |s| !s.checks_completed? }
  :javascript
    setTimeout(function() { location.reload() }, 2000)
