- breadcrumb :submission, @submission

= panel title: 'New Submission', context: :primary do
  = simple_form_for(@submission, url: assignment_submissions_path(@assignment)) do |f|
    .panel-body
      = f.error_notification

      .form-inputs
        = f.input :github_repository_name, collection: github_repository_names
    .panel-footer
      .form-actions
        = f.button :submit, "Submit", class: "btn btn-primary"
