- breadcrumb :submission, @submission

= render 'assignments/nav_tabs'

%h1= Submission.model_name.human

= panel title: 'General Info', context: :primary do
  %table.table.table-striped
    - [:status, :uploaded_by, :created_at, :git_repository_url, :git_commit_sha,
       :git_commit_message, :contributor_names, :team_members].each do |attr|
      %tr
        %th= Submission.human_attribute_name(attr)
        %td= @submission.send(attr)

%h2 Result

- @test_results.each do |test_result|
  = render 'test_results/show_panel', test_result: test_result

- unless @submission.checks_completed?
  %i.fa.fa-spinner.fa-spin.fa-2x
  :javascript
    setTimeout(function() { location.reload() }, 5000)
