- breadcrumb :course, @course

%h1
  = @course.name
  - if can?(:edit, @course.object)
    .pull-right
      = link_to 'Remove', course_path(@course),
        class: 'btn btn-default',
        method: :delete,
        data: { confirm: "Are you sure?" }
      = link_to 'Clone', duplicate_course_path(@course), class: 'btn btn-default'
      = link_to 'Edit', edit_course_path(@course), class: 'btn btn-primary'

- unless @course.description.blank?
  = panel title: Course.human_attribute_name(:description), context: :primary do
    .panel-body
      = @course.description

= panel title: Course.human_attribute_name(:instructors), context: :primary do
  .panel-body
    %table.table.table-condensed
      - @course.instructor_memberships.each do |membership|
        %tr
          %td= membership.name
          %td= membership.email
          %td
            = simple_form_for membership do |f|
              = f.input :instructor, as: :hidden, input_html: { value: false }
              = f.submit 'Revoke instructor role', class: 'btn btn-default btn-sm',
                disabled: @course.instructor_memberships.size == 1 || membership.user == current_user

- if current_user.course_instructor?(@course)
  = panel title: Course.human_attribute_name(:students), context: :primary do
    .panel-body
      - if current_user.course_instructor?(@course)
        = alert_box context: :info do
          To invite students, give them the following code:
          %b= @course.enrollment_code

      %table.table.table-condensed
        - @course.student_memberships.each do |student|
          %tr
            %td= student.name
            %td= student.email
            %td
              = simple_form_for student, html: { style: 'display: inline' } do |f|
                = f.input :instructor, as: :hidden, input_html: { value: true }
                = f.submit 'Make instructor', class: 'btn btn-default btn-sm'
              = link_to 'Unenroll', student,
                  data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-danger btn-sm'

= panel title: Assignment.model_name.human.pl, context: :primary do
  .panel-body
    - if can?(:create, Assignment.new(course: @course))
      = link_to 'New Assignment', new_course_assignment_path(@course), class: 'btn btn-primary'
    %table.table.table-striped
      %thead
        %tr
          %th= Assignment.human_attribute_name(:name)
          %th= Assignment.human_attribute_name(:due_date)
      %tbody
        = no_results_found_row(2) if @assignments.to_a.empty?
        - @assignments.decorate.each do |assignment|
          %tr
            %td= link_to assignment.name, [@course, assignment]
            %td= assignment.due_date

- if current_user.course_instructor?(@course)
  = panel title: 'Assignment results', context: :primary do
    .panel-body
      %table.table.table-striped
        %thead
          %tr
            %th= 'Student'
            - @assignments.decorate.each do |assignment|
              %th= link_to assignment.name, [@course, assignment]
        %tbody
          - @course.student_memberships.each do |student|
            %tr
              %td= student.name
              - @assignments.decorate.each do |assignment|
                %td= assignment.decorate.submission_status_for(student)
