- breadcrumb :course, @course

%h1
  = @course.name
  - if can?(:edit, @course.object)
    .pull-right
      = link_to 'Edit', edit_course_path(@course), class: 'btn btn-primary'
    .pull-right
      = link_to 'Clone', duplicate_course_path(@course), class: 'btn btn-primary'

- if current_user.course_instructor?(@course)
  = alert_box context: :info do
    To invite students, give them the following code:
    %b= @course.enrollment_code

- unless @course.description.blank?
  = panel title: Course.human_attribute_name(:description), context: :primary do
    .panel-body
      = @course.description

= panel title: Course.human_attribute_name(:instructors), context: :primary do
  .panel-body
    %ul
      - @course.instructors.each do |instructor|
        %li= instructor.name

= panel title: Assignment.model_name.human.pl, context: :primary do
  .panel-body
    - if can?(:create, Assignment.new(course: @course))
      = link_to 'New Assignment', new_course_assignment_path(@course), class: 'btn btn-primary'
    %table.table.table-striped
      %thead
        %tr
          %th= Assignment.human_attribute_name(:name)
          %th= Assignment.human_attribute_name(:due_date)
      %tbody
        = no_results_found_row(2) if @assignments.to_a.empty?
        - @assignments.order(:id).decorate.each do |assignment|
          %tr
            %td= link_to assignment.name, [@course, assignment]
            %td= assignment.due_date

