- url = @test.persisted? ? assignment_test_path(@assignment, @test) : assignment_tests_path(@assignment)

= panel title: 'Edit Test', context: :primary do
  = simple_form_for(@test, url: url) do |f|
    .panel-body
      %h3= @test.class.model_name.human

      = f.error_notification

      .form-inputs
        = f.input :name, required: true, autofocus: true
        = f.input :public, hint: 'Mark as public to show the details of the test to the student'
        = f.input :description, input_html: { style: 'font-family: monospace; height: 300px'},
          hint: 'This field is markdown formatted'

        = render "form_#{@test.class.to_s.underscore}", f: f
        = f.input :type, as: :hidden
    .panel-footer
      .form-actions
        = link_to 'Cancel', [@assignment.course, @assignment], class: 'btn btn-default'
        = f.button :submit, "Save", class: 'btn btn-primary'
